body {
	font-family: 'Abril Fatface', cursive;
	font-size: 40px;
	background-color: papayawhip;
}

.initial-page {
	display: flex;
	justify-content: center;
}


button {
    background-color: pink;
   	font-family: 'Abril Fatface', cursive;
    border: none;
    color: black;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    align-items: flex-end;
}

button:hover {
	background-color: hotpink;
	color: white;
	transition-duration: 0.2s;
	font-size: 50px;
}

.stats {
	font-size: 20px;
	display: flex;
	justify-content: center;
}

.hidden {
	display: none;
}